@import "tailwindcss";


:root {
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  background-color: rgb(24, 3, 23);
  color: white;
}

.bg-image {
  background-image: url('../assets/noise.webp');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0f172a;
  font-family: Inter, sans-serif;
}